<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>81841127277-m16p16ckldarfq1f2clfl7icrapteo5g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.81841127277-m16p16ckldarfq1f2clfl7icrapteo5g</string>
	<key>API_KEY</key>
	<string>AIzaSyB5Y9pGqyJNf9eBotx-xiI0WwoC1LOxLwE</string>
	<key>GCM_SENDER_ID</key>
	<string>81841127277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.carrotslabapp</string>
	<key>PROJECT_ID</key>
	<string>carrot-lab-map</string>
	<key>STORAGE_BUCKET</key>
	<string>carrot-lab-map.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:81841127277:ios:e1a0b92241a62756f0e464</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
</dict>
</plist>